language: scala

scala:
  -  2.11.8

dist: xenial

jdk:
  - openjdk9

env:
  - ANNOTATORS=corenlp
  - ANNOTATORS=corenlp_other_languages
  - ANNOTATORS=udpipe
  - ANNOTATORS=depccg
  - ANNOTATORS=juman
  - ANNOTATORS=knp
  - ANNOTATORS=mecab
  - ANNOTATORS=cabocha
  - ANNOTATORS=benepar
  - ANNOTATORS=syntaxnet

before_install:
  # - ./.checker/scripts/before-install.sh
  - sudo add-apt-repository ppa:jonathonf/python-3.6 -y
  - sudo apt update -y
  # - sudo apt install python3-venv python3-dev
  - sudo apt install python3.6 python3.6-dev
  - sudo apt install python-virtualenv
  # - python3.6 -m venv .venv
  - virtualenv --python=python3.6 .venv
  - source .venv/bin/activate
  - pip install --upgrade pip

install:
  - ./.checker/scripts/install-annotators.sh

script:
  - .checker/scripts/run-test.sh

branches:
  only:
    - master