language: scala

scala:
  -  2.11.8

env:
  - ANNOTATORS=corenlp
  - ANNOTATORS=corenlp_other_languages
  - ANNOTATORS=udpipe
  - ANNOTATORS=depccg
  - ANNOTATORS=juman
  - ANNOTATORS=knp
  - ANNOTATORS=mecab
  - ANNOTATORS=cabocha
  - ANNOTATORS=benepar
  - ANNOTATORS=syntaxnet

before_install:
  - ./.checker/scripts/before-install.sh
  - sudo apt install python3.4-venv python3.4-dev
  - python3 -m venv .venv
  - source .venv/bin/activate
  - pip install --upgrade pip

install:
  - ./.checker/scripts/install-annotators.sh

script:
  - .checker/scripts/run-test.sh

branches:
  only:
    - master